<!-- views/class.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <title><%= course.title %> - Class Details</title>
</head>
<body>
  <h1><%= course.title %></h1>
  <p><strong>Description:</strong> <%= course.description %></p>
  <p><strong>Scheduled Time:</strong> <%= new Date(course.scheduledTime).toLocaleString() %></p>
  <p><strong>Join:</strong> <a href="<%= course.jitsiLink %>" target="_blank">Join Class</a></p>
</body>
</html>
